'scopeName': 'source.boxes'
'name': 'boxes'
'fileTypes': [
  'box'
]
'foldingStartMarker': '\{\s*$'
'foldingStopMarker': '^\s*\}'
'patterns': [
  {
    'match': '^\\s*//.*$'
    'name': 'comment.line.double-slash'
  }
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end'
    'name': 'string.quoted.double.r'
    'patterns': [
      {
        'match': '\\\\.'
        'name': 'constant.character.escape'
      }
    ]
  }
  {
    'match': '\\b((0(x|X)[0-9a-fA-F]*)|(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((e|E)(\\+|-)?[0-9]+)?)(i|L|l|UL|ul|u|U|F|f|ll|LL|ull|ULL)?\\b'
    'name': 'constant.numeric'
  }
  {
    'match': '='
    'name': 'keyword.operator.assignment'
  }
  