*.user
*.user.*
*.jar
*.user
*.user.*
*.autosave
*.DS*
*.o
moc_*
.qmake*
*.app
qrc_application*
Makefile*
object_script*
bin/
bind/
bin32/
bind32/
output/
src/resources/data/input/*
ship/bin/
ship/*.exe
tmp/
debug/
release/
src/plugins/*/*.rc
site/media/demo/
site/media/models/
site/snippets/plugins/
site/download/