*.user
*.user.*
*.jar
*.user
*.user.*
*.autosave
*.DS*
*.o
moc_*
.qmake*
*.app
qrc_application*
Makefile*
object_script*
bin/
bin32/
output/
ship/bin/
ship/*.exe
tmp/
debug/
release/
src/plugins/*/*.rc